.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font: var(--button-text);
  color: var(--color-white);
  border: 1px solid var(--border--button);
  background-color: var(--color-background-button);
  border-radius: 6px;
  transition: 0.1s cubic-bezier(0.3, 0, 0.5, 1);
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  border: 1px solid var(--color-white);
}

.btn--large {
  padding: 0.5rem 1rem;
}

.btn--medium {
  padding: 0.5rem 1rem;
}

.btn--small {
  padding: 0.4rem 0.5rem;
  font: var(--small-text-4);
}
