h2.ui.header {
  color: #fff;
  margin-bottom: 0em;
}

h3.ui.header {
  margin-top: 0em;
  font-weight: 100;
  color: #8b949e;
}

p.bio {
  font-size: 16px;
  margin-top: 1em;
}

p.social {
  margin-top: .5em;
  margin-bottom: 0;
}

p.social a {
  color: #ffffff;
}

p.social a:hover{
  text-decoration: underline;
}

i, span.stats {
  color: #8b949e;
  margin-right: 0.5em;
}

span.stats.number {
  color: #ffffff !important;
}

.social-container {
  margin-top: 1em;
}