.layout {
  max-inline-size: 1200px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas: 'header header' 'sidebar main' 'footer footer';
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-rows: 50px 1fr 50px;
  }
}
