.Header--container{
  background-color: var(--bg-color-alter);
  position: relative;
  height: 64px;
  display: flex;
  /* max-width: var(--max-width); */
  margin: 0 auto 40px;
  padding: 0 calc((100vw - var(--max-width))/2);
}

.Header__title{
  align-self: center;
  margin-left: 20px;
}

.Header__logo{
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  filter: invert(100%);
}