.Footer--container {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--divider-color);
  margin: 0 40px;
}

.Footer__info {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 5px;
  justify-items: center;
  margin-bottom: 20px;
}

.Footer__info p {
  color: var(--font-link-color);
  font-size: 0.8rem;
}

.Footer__logo {
  display: flex;
  filter: invert(50%);
  align-items: center;
}

.Footer__logo img {
  width: 30px;
  height: 30px;
  filter: invert(50%);
  margin-right: 10px;
}



