.main-content {
  padding: 0 16px;
  width: 100%;
  @media screen and (max-width: 767px) {
    padding: 0;
  }
  .filters-container {
    display: flex;
    border-bottom: 1px solid var(--border);
    padding-bottom: 16px;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      padding-top: 16px;
    }
    &__input {
      width: 58%;

      input {
        background: var(--background);
        border-radius: 6px;
        border: 1px solid var(--border);
        font-size: 14px;
        line-height: 20px;
        margin-right: 16px;
        outline: none;
        padding: 5px 12px;
        width: -webkit-fill-available;
        @media screen and (max-width: 1024px) {
          margin-right: 0;
        }
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }
    &__dropdown {
      align-items: center;
      display: flex;
      justify-content: space-around;
      width: 32%;

      select {
        background-color: var(--button);
        border-radius: 6px;
        border: 1px solid var(--border);
        color: var(--primary);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding: 5px 20px;
      }

      @media screen and (max-width: 1024px) {
        justify-content: space-between;
        margin-top: 16px;
        width: 100%;
      }
    }
    &__button {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 10%;

      button{
        align-items: center;
        background-color: var(--green);
        border: none;
        border-radius: 6px;
        color: var(--white);
        display: inline-flex;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding: 5px 16px;

        svg {
          fill: var(--icons);
          margin-right: 5px;
        }
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    &__button-responsive {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 10%;

      button{
        align-items: center;
        background-color: var(--green);
        border: none;
        border-radius: 6px;
        color: var(--white);
        display: inline-flex;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding: 5px 16px;

        @media screen and (max-width: 1024px) {
          justify-content: center;
          width: 100%;
        }

        svg {
          fill: var(--icons);
          margin-right: 5px;
        }
      }
      @media screen and (max-width: 1023px) {
        margin-bottom: 24px;
        width: 100%;
      }
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }  
}
