$border: #d0d7de;
$borderDark: #1b1f2426;
$green: #2da44e;
$lightgray: #f6f8fa;
$white: #fff;

.filters {
  padding: 0 16px;
  width: 100%;
  .filters-container {
    display: flex;
    border-bottom: 1px solid $border;
    padding-bottom: 16px;
    &__input {
      width: 58%;

      input {
        border-radius: 6px;
        border: 1px solid $border;
        font-size: 14px;
        line-height: 20px;
        margin-right: 16px;
        outline: none;
        padding: 5px 12px;
        width: -webkit-fill-available;
      }
    }
    &__dropdown {
      align-items: center;
      display: flex;
      justify-content: space-around;
      width: 32%;

      select {
        background-color: $lightgray;
        border-radius: 6px;
        border: 1px solid $borderDark;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding: 5px ;
      }
    }
    &__button {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 10%;

      button{
        align-items: center;
        background-color: $green;
        border: none;
        border-radius: 6px;
        color: $white;
        display: inline-flex;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding: 5px 16px;

        svg {
          fill: $lightgray;
          margin-right: 5px;
        }
      }
    }
  }  
}
