:root {
  --background: #fff;
  --navbar: #242424;
  --primary: #24292f;
  --icons: #57606a;
  --borderActive: #fd8c73;
  --border: #d0d7de;
  --badges: #afb8c133;
  --purple: #8250df;
  --button: #f8f8fa;
  --primary-muted: #8b949e;
  --green: #2da44e;
  --white: #fff;
  --blue: #0969da;
  --background-switch: #0d1117;
  --color-switch: #fff;
}

[data-theme='dark'] {
  --background: #0d1117;
  --border: #21262d;
  --borderActive: #fd8c73;
  --primary: #c9d1d9;
  --primary-muted: #8b949e;
  --navbar: #161b22;
  --icons: #8b949e;
  --badges: #afb8c133;
  --purple: #8250df;
  --button: #21262d;
  --green: #2da44e;
  --white: #fff;
  --blue: #58a6ff;
  --background-switch: #fff;
  --color-switch: #0d1117;
}

.components {
  position: relative;

  .button-switch__theme {
    background: var(--background-switch);
    border-radius: 50%;
    border: none;
    box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.75);
    bottom: 5%;
    left: 2.5%;
    padding: 5px;
    position: fixed;

    i {
      color: var(--color-switch);
    }
  }
}

.main-container {
  background: var(--background);

  @media screen and (max-width: 767px) {
    padding: 0 16px;
  }

  @media screen and (min-width: 768px){
    display: flex;
    padding: 0 24px;

    aside {
      width: 35%;
    }
  }

  @media screen and (min-width: 1024px){
    padding: 24px 80px;
    aside {
      position: relative;
      top: -3rem;
      width: 25%;
    }
  }
}
