.info {
  display: flex;
  gap: 0.5rem;
  color: var(--color-white);
}

.info__link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-grey);
  text-decoration: none;
  font: var(--paragraph-text-small);
}

.info__link:hover {
  color: var(--color-link);
}

.info__value {
  font-weight: bold;
}

.info__link:not(:first-child)::before {
  content: '•';
  color: var(--color-grey);
}
